.nav-bg-yellow{
    background-color:#FFC017 ;
}
.border-bottom{
    border-bottom: 1px solid rgba(41, 41, 41, 1);
  
}
body{
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto Serif', serif;
}
.button-border{
    border-radius: 25px;
}
.image-size{
    height: 100px;
    width: 100px;
}
.margin-buttons{
    margin-bottom: 10px;
}
.margin-content{
    margin-top: 15px;
}